body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#section {
    border: 1px solid white;
    width: 40%;
    margin: 0 auto;
    margin-top: 70px;
    height: 500px;
    border-radius: 1px;
}

#title {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#img {
    margin-left: 5px;
}

#content {
    margin-left: 5px;
    margin-top: 4px;
}

button {
    display: block;
    border: solid white 1px;
    background: none;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 5px;
    cursor: pointer;
    margin-right: 5px;
}

#button2 {
    margin-top: 10px;
}